/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.row {
    margin: 0px;
    padding-top: 5px;
}
body {
    font-family: Monospace;
    background-image: url("https://mdbootstrap.com/img/new/slides/041.jpg");
    background-position: center;
}
